
/*ELEMENTOS COMPARTIDOS POR TODAS LAS PÁGINAS: HEADER,FOOTER, BANNER*/

/*Body style*/
body {
  width: 100%;
  height: 100%;
  align-content: center;
  margin: 0;
  font-family: verdana;
  display: flex;
  flex-direction: column;
}

h1{
  color: #285d39;
}

h2{
	 color: #0c7332;

}

p{
  text-align: justify;
  font-size: 13.5pt;
}
/*----------------------------------------------------------------------------*/
/*Search bar*/
/*Search header*/
.busqueda_header{
  height: 3vh;
  width: 100%;
  background-color: #009538;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

/*Search bar container*/
.bloque_barra{
  width: 19%;
  padding: 1px 0;
  text-align: center;
  margin-right: 3%;
}

/*Search bar*/
.barra_busqueda{
  border: 1px;
  width: 100%;
  height: 90%;
  border-radius: 50px;
  padding-left: 10px;
  background-image: url(images/search.png);
  background-position: 95% 50%;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

/*Text call now*/
.call_text_container{
  padding: 0.5% 2.5%;
  font-family: verdana;
  font-weight: bold;
  font-size: 60%;
}

/*Text call now yellow*/
.y_text_call{
  color: #fdcc00;
}

/*Text call now yellow*/
.w_text_call{
  color: white;
}

/*Icons container*/
.fa-search{
  margin-top:5px;
  color: black;
}

/*General Icons styles*/
.fa-facebook-square,.fa-instagram,.fa-pinterest{
  color: white;
  padding: 0.5% 1.5%;
}

/*Pinteres icon*/
.fa-pinterest{
  margin-right: 2%;
}

/*----------------------------------------------------------------------------*/
/*Header / navbar*/
/*Header container*/
.header{
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*Logo container*/
.bloque_logo{
  max-width: 30%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Logo*/
.logo_header{
  width: 90%;
  display: block;
  margin-left: 30%;
  margin-right: auto;
}

/*Menu container*/
.bloque_menu{
  max-width: 75%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}


/*Line divisor*/
.line_div{
  height: 55%;
  border-left: 1px solid #009538;
  padding: 0 0;
  margin-top: 3.5%;
}

/*Menu item*/
.titulo_menu{
  color: #009538;
  flex-wrap: wrap;
  width: 10%;
  padding: 5% 3% 5%;
  text-align: center;
  text-decoration: auto;
  justify-content: center;
  font-weight: bold;
  font-family: verdana;
  font-size: 70%;
}
/*change of color of selection item in menu*/
.titulo_menu:hover{
  border-bottom: 3px solid #009538;
}

/*----------------------------------------------------------------------------*/
/*Responsive menu*/

/*Responsive icon menu container*/
.menu_b{
    display: none;
}

/*Responsive menu icon*/
.icon_menu{
  cursor: pointer;
  font-family: verdana;
  font-weight: bold;
  color: #009538;
  font-size: 195%;
}

/*Menu responsive container*/
.sidenav {
  height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fcb934;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
    font-family: verdana;
}

/*Responsive menu items*/
.sidenav a {
  padding: 8px 8px 8px 25px;
   text-decoration: none;
   font-size: 25px;
   color: black;
   display: block;
   transition: 0.3s;
}

/*Responsive menu items selection color change*/
.sidenav a:hover {
  color: #dad0d0;
}

/*Position and close button styles*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

/*----------------------------------------------------------------------------*/
/*Banner*/
.bloque_banner{
  width: 100%;
  height: auto;
}
/*Banner Image*/
.banner{
  width: 100%;
  height: 100%;
}
/*----------------------------------------------------------------------------*/
/*Banner Slider*/
.bloque_slider{
  max-width: 100%;
  height: 52vH;
}

.imagen_slider{
  width: 100%;
  height: inherit;
}

.section_slider{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_pirineos{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide_pirineos{
  width: 500%;
  height: 100%;
  display: flex;

}

.slide_pirineos input{
  display: none;
}

.slider_img{
  width: 20%;
  transition: 2s;
}

.slider_img img{
  width: 100%;
  height: 52vH;
}


.nav-m{
  position: absolute;
  width: 100%;
  margin-top: -5vH;
  justify-content: center;
  display: flex;
}

.m-btn{
  border: 2px solid green;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.m-btn:not(:last-child){
  margin-right: 30px;
}

.m-bnt:hover{
  background-color: white;
}

#radio1:checked ~.first{
  margin-left: 0;
}

#radio2:checked ~.first{
  margin-left: -20%;
}

#radio3:checked ~.first{
  margin-left: -40%;
}

#radio4:checked ~.first{
  margin-left: -60%;
}


.nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 47.5vh;
  display: flex;
  justify-content: center;
}

.nav-auto div{
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.nav-auto div:not(:last-child){
  margin-right: 30px;
  justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
  background-color: darkgreen;
}

#radio2:checked ~ .nav-auto .a-b2{
  background-color: darkgreen;
}

#radio3:checked ~ .nav-auto .a-b3{
  background-color: darkgreen;
}

#radio4:checked ~ .nav-auto .a-b4{
  background-color: darkgreen;
}

/*----------------------------------------------------------------------------*/
/*Footer*/
/*Footer container*/
.bloque_footer{
  height: 30vh;
  background-color: #194629;
  font-family: verdana;
  color: white;
  display: flex;
  flex-direction: row;
}

/*Header Tittles*/
.titulos_footer{
  font-size: 16pt;
  text-align: left;
}

/*Text Footer*/
.texto_footer{
  font-size: 70%;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: white;
}

/*Contact container*/
.bloque_contacto{
  width:23%;
  margin-left:3%;
}

/*Find container*/
.bloque_boletin{
  width:23%;
}

/*Work work*/
.bloque_bolsa{
  width:23%;
}

/*Social media container*/
.bloque_redes{
  width:24%;
  margin-right:3%;
}


/*----------------------------------------------------------------------------*/
/*                                  INDEX                                     */
/*----------------------------------------------------------------------------*/
/*Allies info*/
/*Allies container*/
.bloque_aliados{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #009538;
}

/*Tittle Allies*/
.titulo_aliadosyquienes{

  font-weight: bold;
  font-family: verdana;
  color: white;
  padding: 5% 10% 1% 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  width: 60%;
  text-align: left;
}

/*Allies text*/
.texto_aliados{
  margin-top:-3%;
  width: 100%;
  height: auto;
}

/*Line underline*/
.line_div_horizontal{
  height: 1%;
  width: 15%;
  border-bottom: 4px solid #fdcc00;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: 60%;
}

/*Slideshow Allies*/
.slideshow-container{
  width: 100%;
  height:55vH;
  padding: 0.5%
}

.video{
  margin-top:1%;
  width:50%;
  height:50vH;
  align-items: center;

}

/*----------------------------------------------------------------------------*/
/*Technology*/
/*Tech container*/
.bloque_tecnologia{
  display: flex;
  flex-direction: row;
  height: 52.2vh;
  background-color: #EAEAEA;

}

.bloque_tecnologia2{
  display: none;
}

/*Text technology container*/
.tech_text_container{
  max-width: 40%;
  font-family: verdana;
  padding: 2% 5%;
}

/*Technology Tittle*/
.titulo_tecnologia{
  text-align: left;
}

/*Technology Text*/
.texto_tecnologia{
  text-align: justify;
  margin-bottom: 5%;
}

/*Line underline*/
.line_div_horizontal_tec{
  height: 1%;
  width: 15%;
  border-bottom: 4px solid #fdcc00;
  padding: 0 0 0 0;
  margin-right: 60%;
}

/*Tech Image container*/
.imagen_tecnologia_con{
  max-width: 50%;
  align-content: center;
}

/*Tech images*/
.imagen_tecnologia{
  width: 100%;
  height:100%;
  box-sizing: border-box;
}

/*Link technology button*/
.link_tec{
  text-decoration: none;
  width: 20%;
  padding: 2%;
  background-color: #009538;
  font-family: verdana;
  text-align: center;
  color: white;
  font-weight: bold;
}

/*text container box Technology*/
.tech_text_box{
  background-color: inherit;
}

/*----------------------------------------------------------------------------*/
/*How we are*/
/*How we are container*/
.bloque_Quienes{
  display: flex;
  flex-direction: row;
  height: 52.2vh;
  background-color: #009538;
}

.bloque_Quienes2{
  display: none;
}

/*Link How we are boton*/
.link_how{
  text-decoration: none;
  width: 20%;
  padding: 2%;
  background-color: #194629;
  font-family: verdana;
  text-align: center;
  color: white;
  font-weight: bold;
}

/*Tittle How we are*/
.titulo_how{
  text-align: left;
  color: white;
}

/*Text How we are*/
.texto_how{
  text-align: justify;
  margin-bottom: 5%;
  color: white;
}

/*----------------------------------------------------------------------------*/
/*                          PÁGINAS DE PRODUCTOS                              */
/*----------------------------------------------------------------------------*/
/*Product styles*/
/*Please Abraham comment your styles*/

/*Crea un bloque que contiene todos los objetos de la página de productos. En otras palabras, contiene los divs mencionados abajo*/
.bloque_general_productos{
  float: left;
  width:100%;
  height: 100%;
  background-color: #009538;
}

/*Crea el espacio para la información del producto (imágen de producto y de tabla de rendimiento (puede variar), descripciones y vídeo)*/
.bloque_presentacion_productos{
  float: left;
  width: 75%;
  height: 100%;
  background-color: #f4f4f4;
  box-sizing: border-box;
  color:#285D39;

}

.bloque_presentacion_productos2{
  display:none;

}

/*Evita que las descripciones queden a los extremos del div ".bloque_presentacion_productos"*/
.texto_producto{
  width: 80%;
  text-align: justify;


}

.list_brand{
  margin-left:10%;
  font-weight: bold;
  color: #285d39;
}

/*The style for the words in the related product section*/
.rec_prod_style{
  color: "White";
  size: 4pt;
}

/*The style for the images in the related product section*/
.rec_prod_image{
  width: 80px;
}

/*Crea el espacio para la barra lateral donde se encontrarán los pdf de los productos así como links a productos relaciones y las redes sociales de la empresa*/
.scroll{
  float: right;
  width: 25%;
  height: 100%;
  background-color: #009538;
}



/*Bloque para insertar los datos del scroll*/
.pdf_producto{
  width: 80%;
  height: 30vH;
  margin-top: 10px;
  background-color: #009538;
}


/*Estilización de los títulos del scroll*/
.titulos_scroll_productos{
  font-size: 16pt;
  margin-top:5vH;
  color: white;
  align-content: justify;
}

.texto_descarga{
  color:#fdcc00;
  font-size:14pt;
  font-weight:bold;
  align-content: center;

}


/*Da un espaciado extra con respecto al margen superior*/
div#pdf_producto_marco_arriba{
  margin-top: 30vH;
  padding: 10%;
}

/*Expande la altura del bloque. PENDIENTE A REVISAR Y, SI SE DA EL CASO, BORRAR U OPTIMIZAR*/
.productos_relacionados{
  width: 100%;
  height: 20vH;
  margin-top: 10%;
  background-color: #009538;
    padding: 10%;

}

/*Div especifico para el texto (link) e imagen de los productos relacionados*/
.div_productos_relacionados{
  width: 50%;
  float: left;
  margin-top: 4vh;
}

/*Estilización del link de productos relacionados*/
#pdf_productos_relacionados{
  margin-top: 2vH;
  display: block;
}

/*Animación para el texto (link) de productos relacionados*/
a#pdf_productos_relacionados:hover{
  background: #fdcc00;
}

/*Crea un bloque para los links a redes sociales*/
.compartir_scroll_productos{
  width: 50%;
  padding:5%;
  text-align: left;
  margin-top: 10vH;
  background-color: #009538;
}

.icon_scroll{
  padding:1.5vH;
}
/*----------------------------------------------------------------------------*/
/*                                 CONTACTO                                   */
/*----------------------------------------------------------------------------*/

.bloque_general_contacto{
	height: 120vH;
	margin: auto;
	width: 90%;
  margin-bottom: 2%;
	background-color: rgba(255, 255, 255, 0.7);
}

.bloque_general_contacto2{
	display:none;
}

.bloque_mapa_contacto{
  margin: auto;
  width: 90%;
}

.bloque_distribuidores{
	float: left;
  	width: 50%;
  	height: 100%;
  	margin:  auto;
}


.guide{
  width: 100%;
  height:auto;
  margin-bottom:5%;
}

.titulos_contacto{
	color: #519C45;
	text-align: left;
	margin: 0;
	font-size: 30px;
	margin-bottom: 5%;
	margin-left: 5%;
}

.texto_contacto{
	font-size: 12pt;
  padding:1.5%;
  margin-left:5%;
}

#texto_campos_formulario{
	color: red;
	font-size: 11px;
}


.bloque_formulario{
	float: left;
  	width: 50%;
  	margin: auto;
}

.bloque_formulario2{
  display:none
}

.formulario{
	width: 410px;
	padding: 10px 20px;
	border-radius: 7px;
}

.form_block{
  margin-left:5%;
}
.contacto_input{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border-style: solid;
	border-radius: 15px;
	border-color: green;
	border-width: 2.5px;
}

.contacto_input:hover{
	border-color: red;
}

#contacto_textarea{
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}

#boton_formulario{
	font-family: verdana;
	background: yellow;
	color: brown;
	border-color: yellowgreen;
	font-size: 20px;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

#boton_formulario:hover{
	cursor: pointer;
}

#hr_formulario{
  height: 5px;
  margin-left: 10px;
  background-color: #009538;
  border-radius: 5px;
}

/*----------------------------------------------------------------------------*/
/*                                RECETARIO                                   */
/*----------------------------------------------------------------------------*/
/*Bloque contenedor de preguntas frecuentes*/
.bloque_faq{
	width: 100%;
	height: auto;
	background-color:#F4F4F4 ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 4vh;
}

.titulo_faq{
	width: 100%;
	height: 10vh;
  padding:2%;
	background-color: #009538;
}

.container_faq{
	width: 47%;
  margin-left:2%;

}

.container_faq p{
	text-align: justify;
	font-family: verdana;
	font-weight: bold;
  font-size: 0.9em;
  color: white;
}

/*Estilización de la etiqueta details dentro del .bloque_faq*/
.bloque_faq details{
	background: #009538;
	padding: .5rem;
	border-radius: 10px;
	margin: .5rem;
	cursor: pointer;
}

/*Elimina el signo original de la etiqueta summary*/
.bloque_faq summary{
	color:  #fcb934;
	font-family: verdana;
	font-weight: bold;
  	font-size: 1.2em;
	list-style: none;
}

/*Cambia el signo de la etiqueta summary*/
.bloque_faq summary::before{
	content: '+';
	padding-right: 1rem;
}

/*Cambia el signo cuando se despliega el summary*/
.bloque_faq details[open] summary::before{
	content: '-';
}

/*----------------------------------------------------------------------------*/
/*                                    FAQ                                     */
/*----------------------------------------------------------------------------*/
/*Bloque contenedor de preguntas frecuentes*/
.bloque_faq{
	width: 100%;
	height: auto;
	background-color: #009538;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 4vh;
}

.titulo_faq{
	width: 100%;
	height: 10vh;
  padding:2%;
	background-color: #009538;
}

.container_faq{
	width: 47%;
  margin-left:2%;

}

.container_faq p{
	text-align: justify;
	font-family: verdana;
	font-weight: bold;
  font-size: 0.9em;
  color: #fcb934;
}

/*Estilización de la etiqueta details dentro del .bloque_faq*/
.bloque_faq details{
	background: #F4F4F4;
	padding: .5rem;
	border-radius: 10px;
	margin: .5rem;
	cursor: pointer;
}

/*Elimina el signo original de la etiqueta summary*/
.bloque_faq summary{
	color: #519C45;
	font-family: verdana;
	font-weight: bold;
  	font-size: 1.2em;
	list-style: none;
}

/*Cambia el signo de la etiqueta summary*/
.bloque_faq summary::before{
	content: '+';
	padding-right: 1rem;
}

/*Cambia el signo cuando se despliega el summary*/
.bloque_faq details[open] summary::before{
	content: '-';
}

/*----------------------------------------------------------------------------*/
/*                               NUESTROS PILARES                             */
/*----------------------------------------------------------------------------*/
/*Formato para toda etiqueta p de la página*/
#we_container p{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}


/*Text styles and background options for Tecnología e Infraestructura*/
.Tec_and_inf{
	width: 100%;
	text-align: inherit;

}

/*Text styles and background options for Sistemas de Calidad*/
.Sis_de_cal{
	width: 100%;
	text-align: inherit;

}

/*Text styles and background options for Nuestra Gente*/
.Nue_gen{
	width: 100%;
	text-align: inherit;
}

.we_container{
	font-family: verdana;
	text-align: center;
	height:auto;
}

.text_tittle{
	height: 100%;
    background-color: #009538;
    margin: 0;
    padding: 20px;
    color: white;
}

.tittle_box{
	background-color: #009538;
  margin: 0;
}

.line_div_horizontal2{
  height: 1%;
  width: 25%;
  border-bottom: 4px solid #fdcc00;
  padding: 0 0 0 0;
  margin-left:10%;
}

/*Bloque de division para elementos grid*/
.division_space{
	content: "";
	display: table;
	clear: both;
	width: 100%;

}
.equipos1{
	display: flex;
}
.equipos2{
	display: none;
}

/*Grid de 4 elementos*/
.grid_quarter{
  float: left;
  width: 23.5%;
	padding:0.5%;
	height: 100%;
	font-size: 12pt;
	text-align: justify;
}

/*grid de 2 elementos*/
.grid_half{
  float: left;
  width: 48%;
	padding:5px;
	font-size: 12pt;
	text-align: justify;
}

/*grid nuestra gente texto*/
.text_nuestra{
	height:auto;
	margin-bottom: 5%;
}

/*Todo texto blanco*/
.text_white{
	float left;
	color:white;
	width: 100%;
	height:auto;
	padding:5px;
	font-size: 12pt;
	text-align: justify;
	margin-bottom:10px;
	background-color:#009538;
}

/*Todo texto negro*/
.text_black{
	padding:5px;
	font-size: 12pt;
	text-align: justify;
	margin-bottom:5px;
}

/*sub-titulo*/
.subtitle{
	font-weight:bold;
	padding:5px;
}

/*Imagenes de la pagina*/
.page_images{
	padding:15px;
}

.nuestra2{
	display:none;
}

/*----------------------------------------------------------------------------*/
/*                                QUIENES SOMOS                               */
/*----------------------------------------------------------------------------*/

/*estiliza el bloque donde se guarda la informacion de un dato en la linea de tiempo */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  height: 55vh;
  width: 22.5%;
  padding: 2em;
  margin: 1em;
  position: relative;
  display: inline-block;
  background-color: #009538;
  font-family: verdana;
  text-align: justify;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.bloque_crono{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.bloque_crono2{
  display:none;
}

.bloque_crono3{
  display:none;
}


.container img{
  width: 90%;
  height: 25vH;
  padding:5%;
  border-radius: 40px;
  align-content:center;
}

/*estiliza el bloque donde se guarda la fecha o titulo del dato de la linea de tiempo */
.label {
  position: absolute;
  top: -10px;
  left: 20px;
  border: 2px solid green;
  height: 20px;
  width: 100px;
  background-color: white;
  text-align: center;
  font-family: verdana;
  border-radius: 10px;
  color: green;
  font-weight: bold;
}

/*Formato para el header quienes somos*/
.header_q_s {
  color:white;
  height: 100%;
  background-color: #009538;
  margin: 0;
  padding: 20px;
}

/*Formato para la lista en quienes somos*/
.list_q_s {
  width: 17%;
  margin-left: auto;
  margin-right: auto;
}


/*Formato para texto en quienes somos*/
.p_q_s {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width:1200px){
  /*estiliza el bloque donde se guarda la informacion de un dato en la linea de tiempo */
  .container {
    flex-direction: column;
    justify-content: flex-end;
    height: 52vH;
    width: 38.6%;
    padding: 2%;
    display: inline-block;
    background-color: #009538;
    font-family: verdana;
    text-align: justify;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size:10pt;
  }

  .container img{
    width: 80%;
    height: 20vH;
    padding:5%;
    border-radius: 40px;
    align-content:center;
  }


  .bloque_crono{
    display:none;
  }

  .bloque_crono2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .bloque_crono3{
    display:none;
  }


  /*estiliza el bloque donde se guarda la fecha o titulo del dato de la linea de tiempo */
  .label {
    position: absolute;
    width:15%;
    border: 2px solid green;
    height: 15px;
    width: 100px;
    background-color: white;
    text-align: center;
    font-family: verdana;
    border-radius: 10px;
    color: green;
    font-weight: bold;
  }

  /*Formato para el header quienes somos*/
  .header_q_s {
    color:white;
    height: 100%;
    background-color: #009538;
    margin: 0;
    padding: 20px;
  }

  /*Formato para la lista en quienes somos*/
  .list_q_s {
    width: 17%;
    margin-left: auto;
    margin-right: auto;
  }

  /*Formato para texto en quienes somos*/
  .p_q_s {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
