/*estiliza el bloque donde se guarda la informacion de un dato en la linea de tiempo */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  height: 60vh;
  width: 26%;
  padding: 2em;
  margin: 1em;
  position: relative;
  display: inline-block;
  background-color: #009538;
  font-family: verdana;
  text-align: justify;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.bloque_crono{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.container img{
  width: 100%;
  height: 30vh;
  border-radius: 20px;
}

/*estiliza el bloque donde se guarda la fecha o titulo del dato de la linea de tiempo */
.label {
  position: absolute;
  top: -10px;
  left: 20px;
  border: 2px solid green;
  height: 20px;
  width: 100px;
  background-color: white;
  text-align: center;
  font-family: verdana;
  border-radius: 10px;
  color: green;
  font-weight: bold;
}

/*Formato para el header quienes somos*/
.header_q_s {
  height: 100%;
  background-color: #009538;
  margin: 0;
  padding: 20px;
}

/*Formato para la lista en quienes somos*/
.list_q_s {
  width: 17%;
  margin-left: auto;
  margin-right: auto;
}

/*Body style*/
body {
  width: 100%;
  height: 100%;
  align-content: center;
  margin: 0;
}
/*Formato para texto en quienes somos*/
.p_q_s {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*Fuente de letra de los bloques de quienes somos y linea de tiempo de la pagina tambien como estan alineados*/
.how_container {
  text-align: center;
  font-family: verdana;
  margin-bottom: 40px;
}
