/*estiliza el bloque donde se guarda la informacion de un dato en la linea de tiempo */
.container {
  margin-top: 50px;
  height: 15vh;
  width: 90%;
  position: relative;
  left: 5%;
  background-color: #009538;
  font-family: verdana;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

/*estiliza el bloque donde se guarda la fecha o titulo del dato de la linea de tiempo */
.label {
  position: absolute;
  top: -10px;
  left: 20px;
  border: 2px solid green;
  height: 20px;
  width: 100px;
  background-color: white;
  text-align: center;
  font-family: verdana;
  border-radius: 10px;
  color: green;
  font-weight: bold;
}

/*Formato para el header quienes somos*/
.header_q_s {
  height: 100%;
  background-color: #009538;
  margin: 0;
  padding: 20px;
  color: white;
}

/*Formato para la lista en quienes somos*/
.list_q_s {
  width: 17%;
  margin-left: auto;
  margin-right: auto;
}

/*Body style*/
body {
  width: 100%;
  height: 100%;
  align-content: center;
  margin: 0;
}
/*Formato para texto en quienes somos*/
.p_q_s {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.how_container {
  text-align: center;
  font-family: verdana;
  margin-bottom: 40px;
}
