*{
  margin: 0px;
  padding: 0px;
}

/*Body style*/
body {
  width: 100%;
  height: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: verdana;
}

p{
  text-align: justify;
  color: #285d39;
  font-size: 12pt;
}

h1{
  color: #285d39;
}

h2{
  color: #285d39;
  font-size: 14pt;
}

a{
  text-decoration: none;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Header and footer styles*/
/*Search bar*/
/*Search header*/
.busqueda_header{
  height: 3vh;
  width: 100%;
  background-color: #009538;
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

/*Search bar container*/
.bloque_barra{
  width: 19%;
  padding: 1px 0;
  text-align: center;
  margin-right: 3%;
}

/*Search bar*/
.barra_busqueda{
  border: 1px;
  width: 100%;
  height: 90%;
  border-radius: 50px;
  padding-left: 10px;
  background-image: url(images/search.png);
  background-position: 95% 50%;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

/*Text call now*/
.call_text_container{
  padding: 0.5% 2.5%;
  font-family: verdana;
  font-weight: bold;
  font-size: 60%;
}

/*Text call now yellow*/
.y_text_call{
  color: #fdcc00;
}

/*Text call now yellow*/
.w_text_call{
  color: white;
}

/*Icons container*/
.fa-search{
  margin-top:5px;
  color: black;
}

/*General Icons styles*/
.fa-facebook-square,.fa-instagram,.fa-pinterest{
  color: white;
  padding: 0.5% 1.5%;
}

/*Pinteres icon*/
.fa-pinterest{
  margin-right: 2%;
}

/*----------------------------------------------------------------------------*/
/*Header / navbar*/
/*Header container*/
.header{
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*Logo container*/
.bloque_logo{
  max-width: 30%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Logo*/
.logo_header{
  width: 90%;
  display: block;
  margin-left: 30%;
  margin-right: auto;
}

/*Menu container*/
.bloque_menu{
  max-width: 75%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}


/*Line divisor*/
.line_div{
  height: 55%;
  border-left: 1px solid #009538;
  padding: 0 0;
  margin-top: 3.5%;
}

/*Menu item*/
.titulo_menu{
  color: #009538;
  flex-wrap: wrap;
  width: 10%;
  padding: 5% 3% 5%;
  text-align: center;
  text-decoration: auto;
  justify-content: center;
  font-weight: bold;
  font-family: verdana;
  font-size: 70%;
}
/*change of color of selection item in menu*/
.titulo_menu:hover{
  border-bottom: 3px solid #009538;
}

/*Responsive icon menu container*/
.menu_b{
    display: none;
}

/*Responsive menu icon*/
.icon_menu{
  cursor: pointer;
  font-family: verdana;
  font-weight: bold;
  color: #009538;
  font-size: 195%;
}

/*----------------------------------------------------------------------------*/
/*Banner*/
.bloque_banner{
  width: 100%;
  height: auto;
}
/*Banner Image*/
.banner{
  width: 100%;
  height: 100%;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Responsive menu*/
/*Menu responsive container*/
.sidenav {
  height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fcb934;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
    font-family: verdana;
}

/*Responsive menu items*/
.sidenav a {
  padding: 8px 8px 8px 25px;
   text-decoration: none;
   font-size: 25px;
   color: black;
   display: block;
   transition: 0.3s;
}

/*Responsive menu items selection color change*/
.sidenav a:hover {
  color: #dad0d0;
}

/*Position and close button styles*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Product styles*/
/*Please Abraham comment your styles*/

/*Crea un bloque que contiene todos los objetos de la página de productos. En otras palabras, contiene los divs mencionados abajo*/
.bloque_general_productos{
  float: left;
  width:100%;
  height: auto;
  background-color: #f4f4f4;
}

/*Crea el espacio para la información del producto (imágen de producto y de tabla de rendimiento (puede variar), descripciones y vídeo)*/
.bloque_presentacion_productos{
  float: left;
  width: 75%;
  height: auto;
  background-color: #f4f4f4;
  margin-bottom: 5vH;

}

.bloque_presentacion_productos2{
  display:none;

}

/*Evita que las descripciones queden a los extremos del div ".bloque_presentacion_productos"*/
.texto_producto{
  width: 80%;
  text-align: justify;


}

.list_brand{
  margin-left:10%;
  font-weight: bold;
  color: #285d39;
}

/*The style for the words in the related product section*/
.rec_prod_style{
  color: "White";
  size: 4pt;
}

/*The style for the images in the related product section*/
.rec_prod_image{
  width: 80px;
}

/*Crea el espacio para la barra lateral donde se encontrarán los pdf de los productos así como links a productos relaciones y las redes sociales de la empresa*/
.scroll{
  float: right;
  width: 25%;
  height: 300vH;
  background-color: #009538;
}

.scroll2{
  float: right;
  width: 25%;
  height: 240vH;
  background-color: #009538;
}


/*Bloque para insertar los datos del scroll*/
.pdf_producto{
  width: 80%;
  height: 30vH;
  margin-top: 10px;
  background-color: #009538;
}


/*Estilización de los títulos del scroll*/
.titulos_scroll_productos{
  font-size: 16pt;
  padding:2vH;
  margin-top:5vH;
  color: white;
  align-content: justify;
}

.texto_descarga{
  color:#fdcc00;
  font-size:14pt;
  font-weight:bold;
  align-content: center;

}


/*Da un espaciado extra con respecto al margen superior*/
div#pdf_producto_marco_arriba{
  margin-top: 30vH;
  padding: 10%;
}

/*Expande la altura del bloque. PENDIENTE A REVISAR Y, SI SE DA EL CASO, BORRAR U OPTIMIZAR*/
.productos_relacionados{
  width: 100%;
  height: 20vH;
  margin-top: 10%;
  background-color: #009538;
    padding: 10%;

}

/*Div especifico para el texto (link) e imagen de los productos relacionados*/
.div_productos_relacionados{
  width: 50%;
  float: left;
  margin-top: 4vh;
}

/*Estilización del link de productos relacionados*/
#pdf_productos_relacionados{
  margin-top: 2vH;
  display: block;
}

/*Animación para el texto (link) de productos relacionados*/
a#pdf_productos_relacionados:hover{
  background: #fdcc00;
}

/*Crea un bloque para los links a redes sociales*/
.compartir_scroll_productos{
  width: 50%;
  padding:5%;
  text-align: left;
  margin-top: 10vH;
  background-color: #009538;
}

.icon_scroll{
  padding:1.5vH;
}

@media only screen and (max-width:980px){

  .scroll{
    display:none;
  }

  .scroll2{
    display:none;
  }

  .bloque_presentacion_productos{
    display:none;
  }


  .bloque_presentacion_productos2{
    display: flex;
    width: auto;
    height: auto;
    margin-left:2%;
    padding:5%;
    background-color: #f4f4f4;
    text-align: justify;
    margin-bottom: 2vH;


  }

  /*Evita que las descripciones queden a los extremos del div ".bloque_presentacion_productos"*/
  .texto_producto{
    width: 97%;
    text-align: justify;
  }

  .texto_producto2{
    font-size:12pt;
    text-align: justify;
  }

  .list_brand{
    margin-left:5%;
    font-weight: bold;
    padding:5%;
    color: #285d39;
  }

  /*The style for the words in the related product section*/
  .rec_prod_style{
    color: "White";
    size: 4pt;
  }

  /*The style for the images in the related product section*/
  .rec_prod_image{
    width: 20%;
  }
  
