.recetario_gen_box{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin:  auto;
  margin-bottom: 1vh;
  margin-top: 1vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  justify-content: center;
}

.recetario_title{
  width: 70%;
  height: 12vh;
  text-align: center;
}

.receta_box{
  align-content: center;
  height:auto;
  width: 70%;
  float: left;
  margin-bottom: 5vh;
}

.receta_links_box{
  margin-left: 40px;
  width: 60%;
}

.receta_box_ulti{
  height:350px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.titulo_producto{
  color: #ABD037;
  -webkit-text-stroke: 0.5px black;
}

.link_receta{
  color: green;
  margin: auto;
}

.ejemplo_receta{
  margin-right: 20px;
  width: 45%;
  height:300px;
}
