.recetario_gen_box{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin:  auto;
  margin-bottom: 1vh;
  margin-top: 1vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  justify-content: center;
}

.recetario_title{
  width: 100%;
  margin-top:2%;
  text-align: center;
}

.receta_box{
  align-content: center;
  height:auto;
  width: auto;
  padding:4%;
}

.img_receta{
  height:100%;
  width: 100%;
}


@media only screen and (max-width:980px){

  .recetario_gen_box{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    margin:  auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    justify-content: center;
  }

  .recetario_title{
    width: 100%;
    padding:2%;
    text-align: center;
  }

  .receta_box{
    align-content: center;
    height:auto;
    width: auto;
    padding:2%;
  }

  .img_receta{
    height:100%;
    width: 95%;
  }
